/**
 * Card
 *
 * Class to make a card container.
 *
 * @author Chris Nasr <chris@ourcode.ca>
 * @copyright Ouroboros Coding Inc.
 * @created 2025-03-23
 */

.card {
	background-color: #ffffffa0;
	border-radius: 10px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
				0px 1px 1px 0px rgba(0, 0, 0, 0.14),
				0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	color: inherit;
}

html.dark {
	.card {
		box-shadow: 0px 2px 1px -1px rgba(255, 255, 255, 0.8),
					0px 1px 1px 0px rgba(255, 255, 255, 0.86),
					0px 1px 3px 0px rgba(255, 255, 255, 0.88);
		color: inherit;
	}
}