/**
 * Chips
 *
 * Class to make chips.
 *
 * @author Chris Nasr <chris@ourcode.ca>
 * @copyright Ouroboros Coding Inc.
 * @created 2025-04-09
 */
@use 'colours' as *;

.chips {
	box-sizing: border-box;
	display: flex;
	flex-flow: wrap;

	.chip {
		align-items: center;
		appearance: none;
		background-color: $cGrey;
		border-radius: 6px;
		border-width: 0;
		box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, $cDarkGrey 0 -3px 0 inset;
		box-sizing: border-box;
		color: $cWhite;
		cursor: pointer;
		display: inline-flex;
		flex: 1 1 auto;
		font-family: monospace;
		height: 30px;
		justify-content: center;
		line-height: 1;
		list-style: none;
		margin: 8px;
		overflow: hidden;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
		text-align: left;
		text-decoration: none;
		transition: box-shadow .15s,transform .15s;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		white-space: nowrap;
		will-change: box-shadow,transform;
		font-size: 14px;
	}

	.chip.checked {
		background-color: $cBlue;
		box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, $cDarkBlue 0 -3px 0 inset;
		color: $cWhite;
	}

	.chip.checked:before {
		content: '✔️';
		display: inline-block;
		padding-right: 6px;
		vertical-align: middle;
	}
}