$cBlack: #000000;
$cWhite: #ffffff;

$cGreen: #4dd158;
$cDarkGreen: #1f6725;

$cRed: #d50000;
$cDarkRed: #920d0d;

$cDarkGrey: #1e1e1e;
$cDarkerGrey: #121212;
$cDarkestGrey: #252525;

$cGrey: #545454;

$cLightGrey: #a7a7a7;
$cLighterGrey: #f2f2f2;

$cBlue: #6ebadf;
$cDarkBlue: #2f8bb9;
$cLightBlue: #94c3da;
$cLightestBlue: #b3ccd8;
$cBlueText: #ffffff;

$cOpen: #28c128;

$cError: #d93644;
$cAlert: #ff6f26;
$cWarning: #ffc926;
$cAgreed: #39a85e;
$cNotification: #36a3d9;