/**
 * Padding
 *
 * Generic classes for adding padding
 *
 * @author Chris Nasr <chris@ourcode.ca>
 * @copyright Ouroboros Coding Inc.
 * @created 2025-03-23
 */

.padding-3  { padding: 3px; }
.padding-6  { padding: 6px; }
.padding-9  { padding: 9px; }
.padding-12 { padding: 12px; }
.padding-15 { padding: 15px; }
.padding-18 { padding: 18px; }

.padding-3-0  { padding: 3px 0; }
.padding-6-0  { padding: 6px 0; }
.padding-9-0  { padding: 9px 0; }
.padding-12-0 { padding: 12px 0; }
.padding-15-0 { padding: 15px 0; }
.padding-18-0 { padding: 18px 0; }

.padding-0-3  { padding: 0 3px; }
.padding-0-6  { padding: 0 6px; }
.padding-0-9  { padding: 0 9px; }
.padding-0-12 { padding: 0 12px; }
.padding-0-15 { padding: 0 15px; }
.padding-0-18 { padding: 0 18px; }

.padding-6-3  { padding: 6px 3px; }
.padding-9-3  { padding: 9px 3px; }
.padding-12-3 { padding: 12px 3px; }
.padding-15-3 { padding: 15px 3px; }
.padding-18-3 { padding: 18px 3px; }

.padding-3-6  { padding: 3px 6px; }
.padding-9-6  { padding: 9px 6px; }
.padding-12-6 { padding: 12px 6px; }
.padding-15-6 { padding: 15px 6px; }
.padding-18-6 { padding: 18px 6px; }

.padding-3-9  { padding: 3px 9px; }
.padding-6-9  { padding: 6px 9px; }
.padding-12-9 { padding: 12px 9px; }
.padding-15-9 { padding: 15px 9px; }
.padding-18-9 { padding: 18px 9px; }

.padding-3-12  { padding: 3px 12px; }
.padding-6-12  { padding: 6px 12px; }
.padding-9-12  { padding: 9px 12px; }
.padding-15-12 { padding: 15px 12px; }
.padding-18-12 { padding: 18px 12px; }

.padding-3-15  { padding: 3px 15px; }
.padding-6-15  { padding: 6px 15px; }
.padding-9-15  { padding: 9px 15px; }
.padding-12-15 { padding: 12px 15px; }
.padding-18-15 { padding: 18px 15px; }

.padding-3-18  { padding: 3px 18px; }
.padding-6-18  { padding: 6px 18px; }
.padding-9-18  { padding: 9px 18px; }
.padding-12-18 { padding: 12px 18px; }
.padding-15-18 { padding: 15px 18px; }